Repository IBM-Cloud/kube-samples, changes with the owners that CODEOWNERS names for each.
All owners: @ghost, @bradbehle, @Tamas-Biro1, @kersten1, @derekpoindexter, @mihivagyok, @ctrath, @attiss, @szombi, @SzekeresB, @SzucsAti, @marcsello

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these
# owners will be requested for review when someone opens a
# pull request.
* @ghost # ghost just means "no users"

/calico-policies/ @bradbehle @Tamas-Biro1 @kersten1 @derekpoindexter @mihivagyok @ctrath
/akamai/ @attiss @szombi @SzekeresB @SzucsAti @marcsello
/ingress-config/ @attiss @szombi @SzekeresB @SzucsAti @marcsello
/ingress-secrets-manager/ @attiss @szombi @SzekeresB @SzucsAti @marcsello
/ingress-examples/ @attiss @szombi @SzekeresB @SzucsAti @marcsello

config updates for RHCOS worker nodes
  cis-kube-benchmark/cis-1.5/ibm/config.yaml
  cis-kube-benchmark/cis-1.5/ibm/job-node.yaml
  cis-kube-benchmark/cis-1.5/ibm/node.yaml
Owners: @ghost

Align audit policies for 1.30
  kube-audit/kube-audit-policy-verbose.yaml
  kube-audit/kube-audit-policy.yaml
Owners: @ghost

Remove openshift resources from iks audit policies
  kube-audit/kube-audit-policy-verbose.yaml
  kube-audit/kube-audit-policy.yaml
Owners: @ghost

Fix allow-konnectivity for IKS
  calico-policies/public-network-isolation/au-syd/allow-konnectivity.yaml
  calico-policies/public-network-isolation/br-sao/allow-konnectivity.yaml
  calico-policies/public-network-isolation/ca-tor/allow-konnectivity.yaml
  calico-policies/public-network-isolation/eu-de/allow-konnectivity.yaml
  calico-policies/public-network-isolation/eu-es/allow-konnectivity.yaml
  calico-policies/public-network-isolation/eu-gb/allow-konnectivity.yaml
  calico-policies/public-network-isolation/jp-osa/allow-konnectivity.yaml
  calico-policies/public-network-isolation/jp-tok/allow-konnectivity.yaml
  calico-policies/public-network-isolation/us-east/allow-konnectivity.yaml
  calico-policies/public-network-isolation/us-south/allow-konnectivity.yaml
Owners: @bradbehle, @Tamas-Biro1, @kersten1, @derekpoindexter, @mihivagyok, @ctrath

update the CIS benchmark config to support running on a cluster using OVN
  cis-kube-benchmark/cis-1.5/ibm/config.yaml
Owners: @ghost

add new sao01 SZR endpoints for us-south
  calico-policies/private-network-isolation/us-south/allow-egress-pods-private.yaml
  calico-policies/private-network-isolation/us-south/allow-private-service-endpoint.yaml
  calico-policies/private-network-isolation/us-south/private-ips.md
Owners: @bradbehle, @Tamas-Biro1, @kersten1, @derekpoindexter, @mihivagyok, @ctrath

Update private endpoints for eu-es
  calico-policies/private-network-isolation/eu-es/allow-egress-pods-private.yaml
  calico-policies/private-network-isolation/eu-es/allow-private-service-endpoint.yaml
  calico-policies/private-network-isolation/eu-es/private-ips.md
Owners: @bradbehle, @Tamas-Biro1, @kersten1, @derekpoindexter, @mihivagyok, @ctrath

add new sao01 SZR endpoints for us-south (#272)
  calico-policies/private-network-isolation/us-south/allow-egress-pods-private.yaml
  calico-policies/private-network-isolation/us-south/allow-private-service-endpoint.yaml
  calico-policies/private-network-isolation/us-south/private-ips.md
Owners: @bradbehle, @Tamas-Biro1, @kersten1, @derekpoindexter, @mihivagyok, @ctrath

Update private endpoints for eu-es (#273)
  calico-policies/private-network-isolation/eu-es/allow-egress-pods-private.yaml
  calico-policies/private-network-isolation/eu-es/allow-private-service-endpoint.yaml
  calico-policies/private-network-isolation/eu-es/private-ips.md
Owners: @bradbehle, @Tamas-Biro1, @kersten1, @derekpoindexter, @mihivagyok, @ctrath

Update verbose and default audit policies to allow kube resource events for 1.32+
  kube-audit/kube-audit-policy-verbose.yaml
  kube-audit/kube-audit-policy.yaml
Owners: @ghost

Update verbose and default audit policies to allow kube resource events for 1.32+ (#274)
  kube-audit/kube-audit-policy-verbose.yaml
  kube-audit/kube-audit-policy.yaml
Owners: @ghost

Update ingress configmap
  ingress-config/ibm-k8s-controller-config.yaml
Owners: @attiss, @szombi, @SzekeresB, @SzucsAti, @marcsello

Update allow-private-services-pods.yaml with new Sysdig ingest IPs
  calico-policies/private-network-isolation/au-syd/allow-private-services-pods.yaml
Owners: @bradbehle, @Tamas-Biro1, @kersten1, @derekpoindexter, @mihivagyok, @ctrath

Update allow-private-services.yaml
  calico-policies/private-network-isolation/au-syd/allow-private-services.yaml
Owners: @bradbehle, @Tamas-Biro1, @kersten1, @derekpoindexter, @mihivagyok, @ctrath

add ns1 monitoring samples
  ns1/health-monitoring/README.md
Owners: @ghost

fix typo
  ns1/health-monitoring/README.md
Owners: @ghost

fix typo
  ns1/health-monitoring/README.md
Owners: @ghost

updated sysdig subnets
  calico-policies/private-network-isolation/au-syd/allow-private-services-pods.yaml
  calico-policies/private-network-isolation/au-syd/allow-private-services.yaml
  calico-policies/private-network-isolation/br-sao/allow-private-services-pods.yaml
  calico-policies/private-network-isolation/br-sao/allow-private-services.yaml
  calico-policies/private-network-isolation/ca-tor/allow-private-services-pods.yaml
  calico-policies/private-network-isolation/ca-tor/allow-private-services.yaml
  calico-policies/private-network-isolation/eu-de/allow-private-services-pods.yaml
  calico-policies/private-network-isolation/eu-de/allow-private-services.yaml
  calico-policies/private-network-isolation/eu-es/allow-private-services-pods.yaml
  calico-policies/private-network-isolation/eu-es/allow-private-services.yaml
  calico-policies/private-network-isolation/eu-gb/allow-private-services-pods.yaml
  calico-policies/private-network-isolation/eu-gb/allow-private-services.yaml
  calico-policies/private-network-isolation/jp-osa/allow-private-services-pods.yaml
  calico-policies/private-network-isolation/jp-osa/allow-private-services.yaml
  calico-policies/private-network-isolation/jp-tok/allow-private-services-pods.yaml
  calico-policies/private-network-isolation/jp-tok/allow-private-services.yaml
  calico-policies/private-network-isolation/us-east/allow-private-services-pods.yaml
  calico-policies/private-network-isolation/us-east/allow-private-services.yaml
  calico-policies/private-network-isolation/us-south/allow-private-services-pods.yaml
  calico-policies/private-network-isolation/us-south/allow-private-services.yaml
Owners: @bradbehle, @Tamas-Biro1, @kersten1, @derekpoindexter, @mihivagyok, @ctrath

updated sysdig subnets (#278)
  calico-policies/private-network-isolation/au-syd/allow-private-services-pods.yaml
  calico-policies/private-network-isolation/au-syd/allow-private-services.yaml
  calico-policies/private-network-isolation/br-sao/allow-private-services-pods.yaml
  calico-policies/private-network-isolation/br-sao/allow-private-services.yaml
  calico-policies/private-network-isolation/ca-tor/allow-private-services-pods.yaml
  calico-policies/private-network-isolation/ca-tor/allow-private-services.yaml
  calico-policies/private-network-isolation/eu-de/allow-private-services-pods.yaml
  calico-policies/private-network-isolation/eu-de/allow-private-services.yaml
  calico-policies/private-network-isolation/eu-es/allow-private-services-pods.yaml
  calico-policies/private-network-isolation/eu-es/allow-private-services.yaml
  calico-policies/private-network-isolation/eu-gb/allow-private-services-pods.yaml
  calico-policies/private-network-isolation/eu-gb/allow-private-services.yaml
  calico-policies/private-network-isolation/jp-osa/allow-private-services-pods.yaml
  calico-policies/private-network-isolation/jp-osa/allow-private-services.yaml
  calico-policies/private-network-isolation/jp-tok/allow-private-services-pods.yaml
  calico-policies/private-network-isolation/jp-tok/allow-private-services.yaml
  calico-policies/private-network-isolation/us-east/allow-private-services-pods.yaml
  calico-policies/private-network-isolation/us-east/allow-private-services.yaml
  calico-policies/private-network-isolation/us-south/allow-private-services-pods.yaml
  calico-policies/private-network-isolation/us-south/allow-private-services.yaml
Owners: @bradbehle, @Tamas-Biro1, @kersten1, @derekpoindexter, @mihivagyok, @ctrath

update gtm liveness test to point to our docs
  akamai/gtm-liveness-test/README.md
Owners: @attiss, @szombi, @SzekeresB, @SzucsAti, @marcsello

Update allow-egress-pods-private.yaml
  calico-policies/private-network-isolation/us-east/allow-egress-pods-private.yaml
Owners: @bradbehle, @Tamas-Biro1, @kersten1, @derekpoindexter, @mihivagyok, @ctrath

Update allow-private-service-endpoint.yaml
  calico-policies/private-network-isolation/us-east/allow-private-service-endpoint.yaml
Owners: @bradbehle, @Tamas-Biro1, @kersten1, @derekpoindexter, @mihivagyok, @ctrath

Update private-ips.md
  calico-policies/private-network-isolation/us-east/private-ips.md
Owners: @bradbehle, @Tamas-Biro1, @kersten1, @derekpoindexter, @mihivagyok, @ctrath

remove IPs of decommissioned mil01 carriers
  calico-policies/private-network-isolation/eu-de/allow-egress-pods-private.yaml
  calico-policies/private-network-isolation/eu-de/allow-private-service-endpoint.yaml
  calico-policies/private-network-isolation/eu-de/private-ips.md
  calico-policies/public-network-isolation/eu-de/allow-egress-pods-public.yaml
  calico-policies/public-network-isolation/eu-de/allow-public-service-endpoint.yaml
  calico-policies/public-network-isolation/eu-de/public-ips.md
Owners: @bradbehle, @Tamas-Biro1, @kersten1, @derekpoindexter, @mihivagyok, @ctrath
